{% load static %}

<header class="header">
    <button class="header__hamburger-button">
        <div></div>
    </button>
    <img class="header__logo" src="{% static 'images/logo.svg' %}" alt="Sneakers Logo">
    <nav class="header__navbar">
        <ul>
            <li><a href="">Collections</a></li>
            <li><a href="">Men</a></li>
            <li><a href="">Women</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <div class="header__user">
        <img class="header__user-cart" src="{% static 'images/icon-cart.svg' %}" alt="Cart Icon">
        <img class="header__user-icon" src="{% static 'images/image-avatar.png' %}" alt="">
    </div>
</header>