.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 1.5rem;
}

.header__navbar ul {
    display: flex;
}

.header__navbar ul li {
    padding-inline: 1rem;
}

.header__user {
    margin-inline: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.header__user-cart {
}

.header__user-icon {
    width: 3rem;
}

/* hamburger menu */
.header__hamburger-button {
    z-index: 10;

    display: none;
    flex-direction: column;
    justify-content: center;
    margin-inline: 1.5rem;

    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: inherit;
}

.header__hamburger-button div {
    background-color: var(--very-dark-blue);
    height: 3px;
    width: 100%;
    transform: translateY(-1px);
}

.header__hamburger-button::before,
.header__hamburger-button::after {
    background-color: var(--very-dark-blue);
    height: 3px;
    width: 100%;
    position: absolute;
    content: '';
    transition: all 0.3s ease-in-out;
}

.header__hamburger-button::before {
    top: 0;
}

.header__hamburger-button::after {
    bottom: 0;
}

/* Hamburger button animation */
.header__hamburger-button.opened div {
    display: none;
}

.header__hamburger-button.opened::before,
.header__hamburger-button.opened::after {
    margin-top: 0.7rem;
}

.header__hamburger-button.opened::before {
    bottom: 0;
    transform: rotate(45deg);
}

.header__hamburger-button.opened::after {
    bottom: 0;
    top: 0;
    transform: rotate(315deg);
}

/* Tablet layout */
@media screen and (max-width: 900px) {
}

/* Mobile layout */
@media screen and (max-width: 450px) {
    .header__navbar ul {
        display: none;
    }

    .header__hamburger-button {
        display: flex;
    }
}
