@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --grey-blue: hsl(220, 14%, 75%);
    --light-grey-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --font-size: 16px;
    --bold: 700;

    --font: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
}

ul,
li {
    margin-left: 0;
    list-style: none;
}

a,
a:active {
    color: inherit;
    text-decoration: none;
}

.main-container {
    width: 80vw;
}

button {
    border: none;
}

/* Tablet layout */
@media screen and (max-width: 900px) {
}

/* Mobile layout */
@media screen and (max-width: 450px) {
    .main-container {
        width: 100vw;
    }
}
